# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug
.vs
/FightingGame/FightingGame/bgm/kungfubattle.wav
/FightingGame/FightingGame/bgm/beforebattle.wav
02_Ryu
*.zip
/FightingGame/FightingGame/se/psychocrasher.wav
/FightingGame/FightingGame/se/select_se.mp3
/FightingGame/FightingGame/se/selected_se.mp3
/FightingGame/FightingGame/se/shoryuken.wav
/FightingGame/FightingGame/se/start_se.mp3
/FightingGame/FightingGame/se/summersult.wav
/FightingGame/FightingGame/se/tatumaki.wav
/FightingGame/FightingGame/se/hadoken.wav
/FightingGame/FightingGame/se/ko.wav
/SplatterVillage/snd/voice/zon_woo.wav
/SplatterVillage/snd/voice/uaboy.wav
/SplatterVillage/snd/voice/rarirurekajida.wav
/SplatterVillage/snd/voice/men_oo.wav
/SplatterVillage/snd/voice/kyaaa.wav
/SplatterVillage/snd/voice/kyaa1.wav
/SplatterVillage/snd/voice/kondotoiukondoha.wav
/SplatterVillage/snd/voice/haidara.wav
/SplatterVillage/snd/voice/aaaa.wav
/SplatterVillage/Log.txt
/SplatterVillage/splatter_villedge.vcxproj.user
/SplatterVillage/snd/osb/thunder2.mp3
/SplatterVillage/snd/osb/thunder1.mp3
/SplatterVillage/snd/osb/thunder.mp3
/SplatterVillage/snd/osb/kaminari.mp3
/SplatterVillage/snd/bgm/title.mp3
/SplatterVillage/snd/bgm/stage_1.mp3
/SplatterVillage/snd/bgm/opening2.mp3
/SplatterVillage/snd/bgm/opening1.mp3
/SplatterVillage/snd/bgm/before_stage.mp3
/FightingGame/FightingGame/４つのキャスト.txt
/FightingGame/FightingGame/UnkoPainter.txt
/FightingGame/FightingGame/x64
/SplatterVillage/img/*.gal
/SplatterVillage/img/*.edg
/SplatterVillage/img/*.xcf
/FightingGame/FightingGame/img
/FightingGame/FightingGame/FightingGame.vcxproj.user
/FightingGame/FightingGame/Log.txt
/SplatterVillage/model/inock/Thumbs.db
/SplatterVillage/model/inock/モデル拡縮メモ.txt
/SplatterVillage/model/inock/motion.txt
/SplatterVillage/img/Thumbs.db
/SplatterVillage/img/musume.anm
/SplatterVillage/img/Icon1.dwf
/SplatterVillage/img/eye_open.dwf
